.bold { font-weight: bold;}

.ContentHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
}

.DISAMain {
	background-color: #666666;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	margin-left: 0;
	margin-top: 0;
}

.DistStmt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	padding-left: 10px;
}

.FooterLinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.FooterLinks a:visited { color:#0033FF; text-decoration: underline;}
.FooterLinks a:hover 	{ color: #FFCC00; text-decoration: none; }

img { border-style: none;} 

.indent-left { margin-left: 2em;}
.indent-left2 {	margin-left: 4em;}

.leftnavlink { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #666666; 
	background-image:url("../../gif/2nd_leftnav_back_r.jpg");
	background-repeat: no-repeat;
	width: 150px;
	border: 0;
	vertical-align: top;
	text-align: left;	
}
.leftnavlink a:link 	{ color: #FFFFFF; text-decoration: underline; }
.leftnavlink a:hover 	{ color: #FFCC00; text-decoration: none; }
.leftnavlink a:visited	{ color: #FFFFFF; text-decoration: underline;}

.leftlink { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;	
	border: 0;
	text-align: left;
}
.leftlink a:link 	{ color: #FFFFFF; text-decoration: underline; }
.leftlink a:hover 	{ color: #FFCC00; text-decoration: none; }
.leftlink a:visited	{ color: #FFFFFF; text-decoration: underline;}

.MainContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align: left;
	padding-left: 4px;
}
.MainContent a:visited	{ color: #0033FF; text-decoration: underline;}

.rightsubnav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #E6E6E6;
	border-color: #FFFFFF;
	width: 30%;
}
.rightsubnav a:visited	{ color: #0033FF; text-decoration: underline;}
.rightsubnav th {text-align:center;}

.schemafont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.topDISAlinks { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;	
	border: 0;
	text-align: center;
}
.topDISAlinks a:link 	{ color: #FFFFFF; text-decoration: none; }
.topDISAlinks a:hover 	{ color:#3366CC; text-decoration: none; }
.topDISAlinks a:visited	{ color:#FFFFFF; text-decoration: none;}

.topRightDISAlinks { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;	
	border: 0;
	text-align: right;
}
.topRightDISAlinks a:link 	{ color:#666666; text-decoration: none; }
.topRightDISAlinks a:hover 	{ color:#3366CC; text-decoration: none; }
.topRightDISAlinks a:visited	{ color:#666666; text-decoration: none;}

.msgTable a:link 	{ color:#0000FF; text-decoration: underline; }
.msgTable a:hover 	{ color:#FFCC00; text-decoration: none; }
.msgTable a:visited	{ color:#0000FF; text-decoration: underline;}

.msgTableLinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 95%;
	border: 1;	
}
